 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/88cfdc9e27aad92b9ff9cce21d6bc8201823dddcf2349c4a0ea7af97dc094d34ecf47a364bc5f9e046bd89a4b5644d448095d5d31cb2694cab0b58_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 639px;
}

.u-section-1 .u-group-1 {
  width: 696px;
  min-height: 708px;
  margin: 88px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  margin: 92px 20px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 37px 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 285px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-radius: 4px;
  margin: 64px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 620px;
    position: relative;
    min-height: 814px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 127px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 96px;
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 110px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 95px;
    margin-left: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 227px;
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 61px;
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-top: 238px;
    margin-left: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 412px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 96px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 199px;
    margin-left: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 122px;
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 48px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 225px;
    margin-left: 66px;
    padding: 10px 23px 10px 22px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 744px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 45px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 45px 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  margin: 15px 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 77px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 30px 20px 40px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-2 .u-text-4 {
  margin: 40px 20px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-image: none;
  margin: 30px 20px 40px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 64px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 49px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 46px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 38px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  min-height: 312px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/38bdc7487b4dd6083df5142ee4dcb935788a7f39e0994df818ee647aa1f0ef598d85c250ddd80e09ba5efa60541d1aa9dff8f3e4af54db6e9895cf_1280.jpg");
  min-height: 312px;
  background-position: 50% 50%;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 79px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(359.994deg);
  margin: 17px auto 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 17px 20px 20px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/d0564dec7e90460827f234156ce0a6f94ef52522f95a9659c5dc228c4ff62880f025aaece8a14f3b0fa5722a6a81e4b2f207f444f205022ee6348f_1280.jpg");
  min-height: 312px;
  background-position: 50% 50%;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 20px 0;
}

.u-section-3 .u-line-2 {
  width: 79px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(359.994deg);
  margin: 17px auto 0 20px;
}

.u-section-3 .u-text-4 {
  margin: 17px 20px 20px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/87582b85dc4fd2f4bb258de43616824e08d45ae4adce20957dcefb6813de0239385993cd1bfa582b2577371577a4b23dd56002dc5a08d265ac2162_1280.jpg");
  min-height: 312px;
  background-position: 50% 50%;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 20px 0;
}

.u-section-3 .u-line-3 {
  width: 79px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(359.994deg);
  margin: 17px auto 0 20px;
}

.u-section-3 .u-text-6 {
  margin: 17px 20px 20px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 65px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-2 {
    width: 65px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-3 {
    width: 65px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-2 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-3 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-2 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-3 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-2 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-3 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  min-height: 312px;
}

.u-section-4 .u-layout-wrap-1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/317ef622c46bc1db1fc323bb7b0c59a96572f61da1c632f92fcc66f21b909fcfebde007a818ada35aab4c42689717928fb7fe24d7b9b77d133b590_1280.jpg");
  min-height: 312px;
  background-position: 50% 50%;
}

.u-section-4 .u-text-1 {
  position: relative;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 16px 0;
}

.u-section-4 .u-line-1 {
  width: 65px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(359.994deg);
  margin: 17px auto 0 16px;
}

.u-section-4 .u-text-2 {
  position: relative;
  margin: 17px 16px 20px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/457883519366bc77e9ffb4294b44f8df.png");
  min-height: 312px;
  background-position: 50% 50%;
}

.u-section-4 .u-text-3 {
  position: relative;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 16px 0;
}

.u-section-4 .u-line-2 {
  width: 65px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(359.994deg);
  margin: 17px auto 0 16px;
}

.u-section-4 .u-text-4 {
  position: relative;
  margin: 17px 16px 20px;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/35970472e6f88da51190947c84ba6f2a.png");
  min-height: 312px;
  background-position: 50% 50%;
}

.u-section-4 .u-text-5 {
  position: relative;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 16px 0;
}

.u-section-4 .u-line-3 {
  width: 65px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(359.994deg);
  margin: 17px auto 0 16px;
}

.u-section-4 .u-text-6 {
  position: relative;
  margin: 17px 16px 20px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-2 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-3 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-line-2 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-line-3 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-line-2 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-line-3 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 45px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 45px 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 900;
  margin: 15px 20px 0 0;
}

.u-section-5 .u-line-1 {
  width: 77px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 30px 20px 40px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-5 .u-text-4 {
  margin: 40px 20px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-image: none;
  margin: 30px 20px 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 64px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-btn-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 49px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 46px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-5 .u-line-1 {
    width: 38px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  min-height: 711px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-shape-1 {
  height: 193px;
  background-image: none;
  margin-top: 202px;
  margin-bottom: 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1140px;
  margin: -299px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 215px;
  grid-gap: 30px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/download.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 8px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-image-2 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/download.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 8px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/download.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-10 {
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 177px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.23529rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.88235rem;
  }
}